<!doctype html>
<html lang="en" ng-app="optimum">
<head>
    <meta charset="UTF-8">
    <title>Optimum</title>
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body>
    <div class="header clearfix" ng-controller="HeaderController as vm">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" ui-sref-active="active" ng-if="vm.isAuthenticated()"><a ui-sref="users">Users</a></li>
                <li role="presentation" ui-sref-active="active" ng-if="vm.isAuthenticated()"><a ui-sref="logout">Logout</a></li>
                <li role="presentation" ui-sref-active="active" ng-if="!vm.isAuthenticated()"><a ui-sref="login">Login</a></li>
                <li role="presentation" ui-sref-active="active" ng-if="!vm.isAuthenticated()"><a ui-sref="register">Register</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Optimum</h3>
    </div>
    <div ui-view></div>
    <div id="fb-root"></div>
<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-webstorage/angular-webstorage.js"></script>
<script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- endbower -->
<!-- endbuild -->



<!-- build:js scripts/app.js -->
<script src="scripts/app.js"></script>
<script src="scripts/app.routes.js"></script>
<script src="scripts/app.service.js"></script>
<script src="scripts/header.controller.js"></script>
<script src="scripts/users/app.js"></script>
<script src="scripts/auth/app.js"></script>
<script src="scripts/auth/auth.controller.js"></script>
<script src="scripts/auth/auth.service.js"></script>
<script src="scripts/users/users.controller.js"></script>
<script src="scripts/users/users.service.js"></script>
<script src="scripts/users/users.directives.js"></script>
<!-- endbuild -->
</body>
</html>