<h3 class="text-center">Optimum test app</h3>
<p>
    <strong>Logins for testing:</strong>
    <ul>
        <li>
            <div>
                "password": "5609b3f6a05b984e2b68fe34",
                "role": "user",
                "email": "christinamills@ronbert.com",
            </div>
        </li>
        <li>
            <div>
                "password": "5609b3f658261fdd3bd2caa4",
                "role": "admin",
                "email": "kimgould@ronbert.com",
            </div>
        </li>
        <li>
            <div>
                "password": "5609b3f62dba3f5e926bc7fd",
                "role": "user",
                "email": "griffincarroll@ronbert.com",
            </div>
        </li>
    </ul>

</p>
<p>
    You can register new user, it will be saved in localstorage for session!
</p>
<p>
    You can register with facebook account
</p>
